<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
	<link rel="stylesheet" href="http://localhost/sistema-auth/assets/css/style.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
</head>
<body>
	<div class="box_login">
		<div class="capa">
		</div>

		<h1>Faça seu login</h1>

		<form method="POST" action="http://localhost/sistema-auth/login/check">
			<input type="email" name="email" placeholder="E-MAIL">
			<input type="password" name="password" placeholder="SENHA">

			<button class="btn-login">LOGAR</button>

			{% if error != '' %}
				<span class="msg_error"><i class="fa fa-exclamation-triangle" style="font-size: 16px; color: #FF6D6D; padding-right: 5px;"></i> <p>Tentativa Inválida</p></span>
			{% endif %}
		</form>
		
	</div>
 
	<div class="box_login" id="box-login" style="height: 610px !important;">
		<div class="capa">
		</div>

		<h1>Cadastrar</h1>

		<form method="POST" action="http://localhost/sistema-auth/login/cadastro">
			<input type="text" required placeholder="Nome" name="name" id="nome" placeholder="NOME COMPLETO" onkeypress="return lettersOnly(event);">
			<div class="alert alert-danger mt-1" style="display: none;" id="nameError"></div>
			<input type="email" required name="email" placeholder="E-MAIL">
			<input type="password" required  name="password" placeholder="SENHA" id="senha" minlength="6" maxlength="15">
			<div class="alert alert-danger mt-1" style="display: none;" id="senhaError"></div>
			<div id="barra" class="mb-1 barras mt-1" style="display: none;">Pelo menos 6 caracteres</div>
			<div id="barra_1" class="mb-1 barras" style="display: none;">Pelo menos 1 letra maiúscula</div>
			<div id="barra_2" class="mb-1 barras" style="display: none;">Pelo menos 1 número</div>
			<input type="password" required name="conf_password" placeholder="CONFIRMAR SENHA" id="confSenha" minlength="6" maxlength="15">

			<button class="btn-login">CADASTRAR</button>
		</form>
		
	</div>

	<script src="http://localhost/sistema-auth/assets/js/script.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</body>
</html>